.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;  /* Prevent line wrapping */
}
/* Adjust the logo size if needed */
.navbar .navbar-brand img {
  height: 80px;
  max-width: 100px;
  width: auto;
}
/* Reduce navbar padding & prevent wrapping*/
.navbar .nav-item .nav-link {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}
/* Reduce padding for navbar links */
/* Change the navbar text color */
.navbar .navbar-brand,
.navbar .nav-link {
  padding-left: 5px;   /* Reduce left padding */
  padding-right: 5px;  /* Reduce right padding */
  color: #ffffff !important; /* White text for all navbar items */
}

/* Also white if bold "Ghent" */
.navbar .navbar-brand .font-weight-bold {
  color: #ffffff !important; /* Change "Ghent" to white */
}